doctype html
html(lang="es")
  head
    title Inventario
    meta(charset="utf-8")
    // Bootstrap Core CSS
    link( href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    // MetisMenu CSS
    link( href="/public/vendor/metisMenu/metisMenu.min.css" rel="stylesheet")
    // Custom CSS
    link( href="/public/dist/css/sb-admin-2.css" rel="stylesheet")
    // DataTables CSS
    link(href='/public/vendor/datatables-plugins/dataTables.bootstrap.css', rel='stylesheet')
    // DataTables Responsive CSS
    link(href='/public/vendor/datatables-responsive/dataTables.responsive.css', rel='stylesheet')
    // Custom Fonts
    link( href="/public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
    // favicon
    link(rel="icon" href="/public/images/icon.ico")
    // select  
    link(href='/public/dist/css/bootstrap-select.min.css', rel='stylesheet')
    // excel
    link(href='/public/dataTables/extensions/Buttons/css/buttons.dataTables.min.css' rel='stylesheet')
    
  body
    #wrapper
      nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/almacen')
            a(title='inventario', href='/almacen')
              img(src='/public/images/logo.png', alt='inventario' width="30%" height="30%")
          // /.navbar-header
          if usuario
            ul.nav.navbar-top-links.navbar-right
              li.dropdown
                a.dropdown-toggle()
                  i.fa.fa-user.fa-fw
                  |  #{usuario.username}
              li.dropdown(title="Cerrar Sesion")
                a.dropdown-toggl(href='/logout')
                  i.fa.fa-sign-out.fa-fw

                // /.dropdown-user
              // /.dropdown
            // /.navbar-top-links
            .navbar-default.sidebar(role='navigation')
              .sidebar-nav.navbar-collapse
                ul#side-menu.nav
                  if usuario.permisos === 0

                    li
                      a(href='/almacen')
                        i.fa.fa-archive.fa-fw
                        |  Almacenados
                    li
                      a(href='/distribucion')
                        i.fa.fa-archive.fa-fw
                        |  En Distribución
                    li
                      a(href='/distribuido')
                        i.fa.fa-archive.fa-fw
                        |  Distribuidos  
                      
                        
                  else if  usuario.permisos === 1

                    li
                      a(href='/almacen')
                        i.fa.fa-archive.fa-fw
                        |  Almacenados
                    li
                      a(href='/distribucion')
                        i.fa.fa-archive.fa-fw
                        |  En Distribución
                    li
                      a(href='/distribuido')
                        i.fa.fa-archive.fa-fw
                        |  Distribuidos   
                    li
                      a(href='/products')
                        i.glyphicon.glyphicon-shopping-cart
                        |  Productos
                      // /.nav-second-level= 
                  else

                    li
                      a(href='/almacen')
                        i.fa.fa-archive.fa-fw
                        |  Almacenados
                    li
                      a(href='/distribucion')
                        i.fa.fa-archive.fa-fw
                        |  En Distribución
                    li
                      a(href='/products')
                        i.glyphicon.glyphicon-shopping-cart
                        |  Productos
                    
block contenido
