extends ../layout.pug
block contenido
  #page-wrapper
    .row
      .col-md-4.col-md-offset-4
        .login-panel.panel.panel-default
          .panel-heading
            h3.panel-title Registrar sucursal
          .panel-body
            #aviso
            form(action="/sucursales/new",method="POST",role='form',id="formNew")
              fieldset
                .form-group
                  h5  Plaza:
                  input.form-control(type="text" name="plaza" placeholder="Plaza"  required id="plaza")
                .form-group
                  h5  Ciudad:
                  input.form-control(type="text" name="ciudad" placeholder="Ciudad" required id="city")
                .form-group
                  h5  Tipo:
                  select.form-control.selectpicker(name="tipo", data-live-search="true")
                    for tipo in tipos
                      option #{tipo.nombre}
                .form-group
                input(type="submit" value="Registrar sucursal" class="btn btn-lg btn-primary btn-block")
                
  // jQuery
  script(src='/public/vendor/jquery/jquery.min.js')
  // Bootstrap Core JavaScript
  script(src='/public/vendor/bootstrap/js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='/public/vendor/metisMenu/metisMenu.min.js')
  // Custom Theme JavaScript
  script(src='/public/dist/js/sb-admin-2.js')
  script(src='/public/avisos/sucursalNew.js')  
