extends ../layout.pug
block contenido
  #page-wrapper
    .row
      .col-md-4.col-md-offset-4
        .login-panel.panel.panel-default
          .panel-heading
            h3.panel-title Editar sucursal
          .panel-body
            #aviso
            form(action="/sucursales/"+sucursalUpdate.id+"?_method=PUT",method="POST",id="formUpdate")
              fieldset
              .form-group
                h5  Plaza:
                input.form-control(type="text",name="plaza", value=sucursalUpdate.plaza, required,id="plaza" )
              .form-group
                h5  Ciudad:
                input.form-control(type="text",name="ciudad", value=sucursalUpdate.ciudad, required, id="city")
              .form-group
                  h5  Tipo:
                  select.form-control(name="tipo")
                    option #{sucursalUpdate.nombreTipo}
                    for tipo in tipos
                      if tipo.nombre != sucursalUpdate.nombreTipo
                        option #{tipo.nombre}
              // boton para registrar
              .form-group
              input(type="submit" value="Actualizar" class="btn btn-lg btn-primary btn-block")
  // jQuery
  script(src='/public/vendor/jquery/jquery.min.js')
  // Bootstrap Core JavaScript
  script(src='/public/vendor/bootstrap/js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='/public/vendor/metisMenu/metisMenu.min.js')
  // Custom Theme JavaScript
  script(src='/public/dist/js/sb-admin-2.js')
  script(src='/public/avisos/sucursalUpdate.js')   
