extends ../layout.pug
block contenido
  #page-wrapper
    .row
      .col-md-4.col-md-offset-4
        .login-panel.panel.panel-default
          .panel-heading
            h3.panel-title Actualizar categoría
          .panel-body
            #aviso
            form(action="/categories/"+categoryUpdate.id+"?_method=PUT",method="POST", id="formUpdate")
              fieldset
                .form-group
                  h5  Nombre:
                  input.form-control(type="text", name="nombre", value=categoryUpdate.nombre, id="name" required)
                .form-group
                  h5  Descripción:
                  input.form-control(type="text", name="descripcion", value=categoryUpdate.descripcion, id="desc" required)
                // boton para registrar
                .form-group
                input(type="submit" value="Actualizar" class="btn btn-lg btn-primary btn-block")

  // jQuery
  script(src='/public/vendor/jquery/jquery.min.js')
  // Bootstrap Core JavaScript
  script(src='/public/vendor/bootstrap/js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='/public/vendor/metisMenu/metisMenu.min.js')
  // Custom Theme JavaScript
  script(src='/public/dist/js/sb-admin-2.js')
  script(src='/public/avisos/categoriaUpdate.js')
