extends ../layout.pug
block contenido

  #page-wrapper
    .row
      .col-lg-12
        h3.page-header Lista de usuarios
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            | Usuarios
          .panel-body
            table#dataTables-example.table.table-striped.table-bordered.table-hover
              thead
                tr
                  th Usuario
                  th Nombre
                  th Estado
                  if usuario.permisos === 2
                    th Permisos
                    th Sucursal
                  th Acción
              tbody
                if usuario.permisos === 2
                  for user in usuarios
                    tr.odd.gradeX
                      td #{user.username}
                      td #{user.nombre} #{user.apellido}
                      if user.status
                        td Activo
                      else
                        td Inactivo
                        
                      if user.permisos === 0
                        td Recepcionista
                      else if user.permisos === 1
                        td Administrador
                      else
                        td Administrador General

                      if user.permisos < 2
                        td #{user.plaza}
                      else  
                        td No asignada

                      td
                        a(class="btn btn btn-primary btn-circle" href="/users/"+user.id)
                          i.fa.fa-list(title="Editar")

                else

                  for user in usuarios
                    tr.odd.gradeX
                      td #{user.username}
                      td #{user.nombre}
                      td #{user.apellido}
                      if user.status
                        td Activo
                      else
                        td Inactivo
                      td
                        a(class="btn btn btn-primary btn-circle" href="/users/"+user.id)
                          i.fa.fa-list(title="Editar")
   
  // jQuery
  script(src='/public/dataTables/jquery/jquery.js') 
  // Bootstrap Core JavaScript
  script(src='/public/vendor/bootstrap/js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='/public/vendor/metisMenu/metisMenu.min.js')
  // DataTables JavaScript
  script(src='/public/dist/js/sb-admin-2.js')
  script(src='/public/stuk/dist/jszip.min.js')  
  script(src='/public/dataTables/media/js/jquery.dataTables.min.js')
  script(src='/public/dataTables/media/js/dataTables.bootstrap.min.js')
  script(src='/public/dataTables/extensions/Responsive/js/dataTables.responsive.js')
  script(src='/public/dataTables/extensions/Buttons/js/dataTables.buttons.min.js')
  script(src='/public/dataTables/extensions/Buttons/js/buttons.html5.min.js')
  script(src='/public/pdfmake/build/pdfmake.min.js')
  script(src='/public/pdfmake/build/vfs_fonts.js') 
  if usuario.permisos === 2
    script.
      $('#dataTables-example').DataTable({
          responsive: true,
          dom: 'Bfrtip',
          buttons: [
              {
                  extend: 'excelHtml5',
                  title: 'Usuarios',
                  exportOptions: {
                      columns: [ 0, 1, 2, 3, 4, 5 ]
                  }
              },
              {
                  extend: 'pdf',
                  title: 'Usuarios',
                  exportOptions: {
                      columns: [ 0, 1, 2, 3, 4, 5 ]
                  }
              }
          ]
      });
  else

    script.
      $('#dataTables-example').DataTable({
          responsive: true,
          dom: 'Bfrtip',
          buttons: [
              {
                  extend: 'excelHtml5',
                  title: 'Usuarios',
                  exportOptions: {
                      columns: [ 0, 1, 2, 3 ]
                  }
              },
              {
                  extend: 'pdf',
                  title: 'Usuarios',
                  exportOptions: {
                      columns: [ 0, 1, 2, 3 ]
                  }
              }
          ]
      });

