extends ../layout.pug
block contenido
  #page-wrapper
    .row
      .col-md-4.col-md-offset-4
        .login-panel.panel.panel-default
          .panel-heading
            h3.panel-title Registrar usuario
          .panel-body
            #aviso
            form(action="/users/new",method="POST",role='form',id="formNew")
              fieldset
                .form-group
                  h5  Usuario:
                  input.form-control(type="text", name="username", placeholder="Usuario", required,id="user")
                .form-group
                  h5  Nombres:
                  input.form-control(type="text", name="name", placeholder="Nombre", required,id="name")
                .form-group
                  h5  Apellidos:
                  input.form-control(type="text", name="last_name", placeholder="Apellido", required,id="last")
                .form-group
                  h5  Contraseña:
                  input.form-control(type="password", name="password", placeholder="Contraseña", required,id="pass")
                .form-group
                  h5  Confirmación de contraseña:
                  input.form-control(type="password", name="password_confirmation", placeholder="Confirmar contraseña", required,id="pass2")
                if usuario.permisos === 2
                  .form-group
                    h5  Sucursal:
                    select.form-control.selectpicker(name="plaza", data-live-search="true",id="sucursal")
                      for sucursal in sucursales
                        option(name=sucursal.id) #{sucursal.plaza}

                // boton para registrar
                .form-group
                input(type="submit" value="Registrar" class="btn btn-lg btn-primary btn-block")

  // jQuery
  script(src='/public/vendor/jquery/jquery.min.js')
  // Bootstrap Core JavaScript
  script(src='/public/vendor/bootstrap/js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='/public/vendor/metisMenu/metisMenu.min.js')
  // Custom Theme JavaScript
  script(src='/public/dist/js/sb-admin-2.js')
  script(src='/public/dist/js/bootstrap-select.min.js')
  script(src='/public/avisos/usuarioNew.js')  
