extends ../layout.pug
block contenido
  #page-wrapper
    .row
      .col-md-4.col-md-offset-4
        .login-panel.panel.panel-default
          .panel-heading
            h3.panel-title Editar usuario
          .panel-body
            #aviso
            form(action="/users/"+usuarioUpdate.id+"?_method=PUT", method="POST", id="formUpdate")
              fieldset
                .form-group
                  h5  Usuario:
                  input.form-control(type="text", name="username", value=usuarioUpdate.username, id="user" )
                .form-group
                  h5  Nombres:
                  input.form-control(type="text", name="name", value=usuarioUpdate.nombre , id="name" )
                .form-group
                  h5  Apellidos:
                  input.form-control(type="text" name="last_name", value=usuarioUpdate.apellido, id="last")
                .form-group
                  h5  Contraseña:
                  input.form-control(type="password" name="password" placeholder="Contraseña" id="pass")
                .form-group
                  h5  Confirmación de contraseña:
                  input.form-control(type="password" name="password_confirmation" placeholder="Confirmar Contraseña" id="pass2")
                if usuarioUpdate.permisos < 2 && usuario.permisos === 2
                    .form-group
                      h5  Sucursal:
                      select.form-control(name="plaza")
                        option #{usuarioUpdate.plaza}
                        for sucursal in sucursales
                          if sucursal.plaza != usuarioUpdate.plaza 
                            option #{sucursal.plaza}
                    .form-group
                      h5  Permisos:
                      select.form-control(name="permisos")
                        if usuarioUpdate.permisos == 1
                          option(name="administrador") Administrador
                          option(name="recepcionista") Recepcionista
                        else
                          option(name="recepcionista") Recepcionista
                          option(name="administrador") Administrador
                    .form-group
                      h5  Estado:
                      select.form-control(name="status")
                        if usuarioUpdate.status
                          option(name="activo") Activo
                          option(name="inactivo") Inactivo
                        else
                          option(name="inactivo") Inactivo
                          option(name="activo") Activo
                else if usuarioUpdate.permisos === 0 && usuario.permisos === 1  
                  .form-group
                      h5  Estado:
                      select.form-control(name="status")
                        if usuarioUpdate.status
                          option(name="activo") Activo
                          option(name="inactivo") Inactivo
                        else
                          option(name="inactivo") Inactivo
                          option(name="activo") Activo


                .form-group
                input(type="submit" value="Actualizar" class="btn btn-lg btn-primary btn-block")

  // jQuery
  script(src='/public/vendor/jquery/jquery.min.js')
  // Bootstrap Core JavaScript
  script(src='/public/vendor/bootstrap/js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='/public/vendor/metisMenu/metisMenu.min.js')
  // Custom Theme JavaScript
  script(src='/public/dist/js/sb-admin-2.js')
  script(src='/public/dist/js/bootstrap-select.min.js')
  script(src='/public/avisos/usuarioUpdate.js')
