extends ../layout.pug
block contenido
  #page-wrapper
    .row
      .col-md-4.col-md-offset-4
        .login-panel.panel.panel-default
          .panel-heading
            h3.panel-title Editar producto
          .panel-body
            #aviso
            form(action="/products/"+productoUpdate.id+"?_method=PUT",method="POST",id="formUpdate")
              fieldset
                .form-group
                  h5  Nombre:
                  input.form-control(type="text", name="nombre", value=productoUpdate.nombre, required,id="name")
                .form-group
                  h5  Código:
                  input.form-control(type="text", name="codigo", value=productoUpdate.codigo, required,id="cb")
                .form-group
                  h5  Descripción:
                  input.form-control(type="text", name="descripcion", value=productoUpdate.descripcion, required,id="desc")
                .form-group
                  h5  Cantidad Mínima:
                  input.form-control(type="number", value=productoUpdate.cantidad ,name="cantidad", min="0", max="10000" required,id="min")
                .form-group
                  h5  Categoría:
                  select.form-control(name="categoria")
                    option #{productoUpdate.nombreCategoria}
                    for categoria in categorias
                      if categoria.nombre != productoUpdate.nombreCategoria
                        option #{categoria.nombre}
                .form-group
                input(type="submit" value="Actualizar" class="btn btn-lg btn-primary btn-block")

  // jQuery
  script(src='/public/vendor/jquery/jquery.min.js')
  // Bootstrap Core JavaScript
  script(src='/public/vendor/bootstrap/js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='/public/vendor/metisMenu/metisMenu.min.js')
  // Custom Theme JavaScript
  script(src='/public/dist/js/sb-admin-2.js')
  script(src='/public/dist/js/bootstrap-select.min.js')
  script(src='/public/avisos/productoUpdate.js')  
